<div class="container">
    <h1 class="page-header">Phase 5</h1>
     
	 
  <ec-table *ngIf="getDataFor('TABLE_ID_1')" [compData]="getDataFor('TABLE_ID_1')"></ec-table>
	 
  <ec-table *ngIf="getDataFor('TABLE_ID_2')" [compData]="getDataFor('TABLE_ID_2')"></ec-table>
	 
  <ec-table *ngIf="getDataFor('TABLE_ID_3')" [compData]="getDataFor('TABLE_ID_3')"></ec-table>
		 
  <app-button  [compData]="getDataFor('BUTTON_1')"></app-button>
  
  <app-button  [compData]="getDataFor('BUTTON_2')"></app-button>
  
  </div>