 <div class="container" *ngIf="getDataFor('VAR_ID_1234')">
    <h1>StaticText {{ getDataFor('VAR_ID_123123')}}</h1>
    <div class="row">
      <Question [compData]="getDataFor('QUE_ID_1')"></Question>
    </div>

    <div class="row">
      <div class="col-*-*">
        <Question [compData]="getDataFor('QUE_ID_2')"></Question>
      </div>
      <div class="col-*-*">
        <Question [compData]="getDataFor('QUE_ID_3')"></Question>
      </div>
    </div>
  </div>


  <br style="margin-top:20px;">
<button (click)="setData()">Test change detection</button>